<!-- Footer -->
<div id="footer">
  <div class="container">

    <div class="row footer-content">
      <div class="col-md-3 col-xs-4">
        <div>New York Restaurant</div>
        <div class="address">3926 Anmoore Road</div>
        <div class="address">New York, NY 10014</div>
        <div>718-749-1714</div>
      </div>
      <div class="col-md-3 col-xs-4">
        <div>France Restaurant</div>
        <div class="address">68, rue de la Couronne</div>
        <div class="address">75002 PARIS</div>
        <div>02.94.23.69.56</div>
      </div>
      <div class="col-md-3 col-xs-4">
        <div>Blog</div>
        <div>Careers</div>
        <div>Privacy Policy</div>
        <div>Contact</div>
      </div>
      <div class="col-md-3 footer-logo">
        <a class="navbar-brand" href="http://36thelement.com/" target="_blank"><img src="/images/logo.png" alt="company logo"></a>
      </div>
    </div>

  </div>
</div>
<!-- Footer ends here -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
