<% include partials/header %>

  <!-- Banner -->
  <div class="banner">
    <img src="/images/banner_img3.png" alt="banner image" class="banner-img img-responsive">
    <div class="banner-text">Let's Make Something Together</div>
  </div>

  <!-- Food menu -->
  <div class="bookmark" id="menu-link">
    <img src="/images/bookmark_shape2.png" alt="menu" class="bookmark-img img-responsive center-block">
    <div class="bookmark-text">THE MENU</div>
  </div>

  <div class="container food-menu">

    <div class="row">
      <div class="col-md-6 box">
        <div class="row box1">
            <div class="col-xs-10 item">
              <div class="title">Volupate cillum fugiat.</div>
              <div class="subtitle">Cheese, tomato, mushrooms, onions.</div>
            </div>
            <div class="price col-xs-2 text-right">$50</div>

            <div class="col-xs-10 item">
              <div class="title">Metus Lorem</div>
              <div class="subtitle">Chicken, mozzarella cheese, onions.</div>
            </div>
            <div class="price col-xs-2 text-right">$62</div>

            <div class="col-xs-10 item">
              <div class="title">Donec sodales magna.</div>
              <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
            </div>
            <div class="price col-xs-2 text-right">$25</div>

            <div class="col-xs-10 item">
              <div class="title">Saugue velit cursus.</div>
              <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
            </div>
            <div class="price col-xs-2 text-right">$30</div>

        </div>
      </div>
      <div class="col-md-6 box">
        <div class="row box2">
          <div class="col-xs-10 item">
            <div class="title">Arcu pede enim justo.</div>
            <div class="subtitle">Cheese, tomato, mushrooms, onions.</div>
          </div>
          <div class="price col-xs-2 text-right">$45</div>
          <div class="col-xs-10 item">
            <div class="title">Cras dapibussemper nisi.</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$32</div>
          <div class="col-xs-10 item">
            <div class="title">Quam semper libero.</div>
            <div class="subtitle">Cheese, tomato, mushrooms, onions.</div>
          </div>
          <div class="price col-xs-2 text-right">$15</div>
          <div class="col-xs-10 item">
            <div class="title">Nam eget dui Etiam.</div>
            <div class="subtitle">Chicken, mozzarella cheese, onions.</div>
          </div>
          <div class="price col-xs-2 text-right">$35</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact form -->
  <div class="bookmark" id="contact-link">
    <img src="/images/bookmark_shape2.png" alt="menu" class="bookmark-img img-responsive center-block">
    <div class="bookmark-text">CONTACT</div>
  </div>

  <div class="container contact-form">
    <form action="/createContact" method="post">
      <div class="row">
        <div class="form-group required name col-md-6">
          <label class="control-label" for="name">NAME: </label>
          <input type="text" class="form-control" name="contact[name]" id="name" required>
        </div>
        <div class="form-group required email col-md-6">
          <label class="control-label" for="email">EMAIL: </label>
          <input type="email" class="form-control" name="contact[email]" id="email" required>
        </div>
      </div>
      <div class="form-group required message">
        <label class="control-label" class="control-label" for="message">MESSAGE: </label>
        <textarea class="form-control" rows="4" name="contact[message]" id="message" required></textarea>
      </div>
      <button type="submit" class="btn btn-danger btn-lg pull-right">SUBMIT</button>
    </form>
  </div>

  <!-- Find us -->
  <div id="find-us-link">
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.15673092042!2d72.82659931465028!3d19.231999986998606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b1386f88b143%3A0x523d5e46b11f2a99!2s36th+Element+Technologies+Private+Limited!5e0!3m2!1sen!2sin!4v1520772637982" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="map-text">
      <div class="bookmark">
        <img src="/images/bookmark_shape2.png" alt="menu" class="bookmark-img img-responsive center-block">
        <div class="bookmark-text">FIND US</div>
      </div>
    </div>
  </div>

  <% include partials/footer %>
