<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>36TH ELEMENT</title>
  <!-- bootstrap cdn, includes glyphicons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> -->
  <link type="text/css" rel="stylesheet" href="/css/app.css">
</head>

<body>
  <!-- My Basic Bootstrap Navbar starts here -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="http://36thelement.com/"><img src="/images/logo.png" alt="company logo"></a>
        <!-- Hamburger Button -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Things inside the Hamburger Button are wrapped inside the div with "collapse navbar-collapse" class -->
      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Menu</a></li>
          <li><a href="#">Find Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- My Basic Bootstrap Navbar ends here -->

  <img src="/images/banner_img3.png" alt="banner image" class="banner img-responsive">
  <img src="/images/bookmark_shape2.png" alt="menu" class="bookmark img-responsive center-block">

  <!-- Food menu -->
  <div class="container food-menu">

    <div class="row">
      <div class="col-md-6 box">
        <div class="row">
          <div class="col-xs-10">
            <div class="title">Lorem ipsum dolor sit.</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$15</div>

          <div class="col-xs-10">
            <div class="title">Metus Lorem</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$18</div>
          <div class="col-xs-10">
            <div class="title">Donec sodales magna.</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$21</div>
          <div class="col-xs-10">
            <div class="title">Saugue velit cursus.</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$14</div>
        </div>
      </div>
      <div class="col-md-6 box">
        <div class="row">
          <div class="col-xs-10">
            <div class="title">Arcu pede enim justo.</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$15</div>
          <div class="col-xs-10">
            <div class="title">Cras dapibussemper nisi.</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$12</div>
          <div class="col-xs-10">
            <div class="title">Quam semper libero.</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$17</div>
          <div class="col-xs-10">
            <div class="title">Nam eget dui Etiam.</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur</div>
          </div>
          <div class="price col-xs-2 text-right">$19</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact form -->
  <img src="/images/bookmark_shape2.png" alt="menu" class="bookmark img-responsive center-block">

  <div class="container contact-form">
    <form action="/createContact" method="post">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="name">NAME:</label>
          <input type="text" class="form-control" placeholder="Name" name="contact[name]" id="name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="email">EMAIL:</label>
          <input type="text" class="form-control" placeholder="Email address" name="contact[email]" id="email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="message">MESSAGE:</label>
        <textarea class="form-control" rows="4" placeholder="Your message" name="contact[message]" id="message" required></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  <!-- Find us -->
  <img src="/images/bookmark_shape2.png" alt="menu" class="bookmark img-responsive center-block">

  <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.15673092042!2d72.82659931465028!3d19.231999986998606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b1386f88b143%3A0x523d5e46b11f2a99!2s36th+Element+Technologies+Private+Limited!5e0!3m2!1sen!2sin!4v1520772637982" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

  <!-- Footer -->
  <div id="footer">
    <div class="container">

      <div class="row footer-content">
        <div class="col-md-3">
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
        </div>
        <div class="col-md-3">
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
        </div>
        <div class="col-md-3">
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
          <div>Lorem ipsum</div>
        </div>
        <div class="col-md-3">
          <a class="navbar-brand" href="http://36thelement.com/"><img src="/images/logo.png" alt="company logo"></a>
        </div>
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
