* {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  height: 85px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  /*margin: 15px 15px 15px 0;*/
   margin: 25px 15px 25px 0;
}

.navbar-brand>img {
  height: 100%;
  /* padding: 15px; */
  width: auto;
}

/*.collapse.nav >li {*/
/*   padding-top: 10px;*/
/*  padding-bottom: 10px;*/
/*}*/

/*.banner {*/
/*  width: 100%;*/
/*}*/

.bookmark {
  /*display: block;*/
  /*margin: 0 auto;*/
  /*width: 60px;*/
}

.food-menu, .contact-form {
  margin-top: 50px;
  margin-bottom: 50px;
}
