* {
  margin: 0;
  padding: 0;
  font-family: Lato, Sans-Serif;
  font-size: 16px;
}

.navbar-default {
  background-color: #fff;
  margin-bottom: 0;
}

.navbar-nav>li>a:hover {
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.navbar-brand {
  height: 85px;
}

.nav>li>a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  /*margin: 15px 15px 15px 0;*/
  margin: 25px 15px 25px 0;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

.banner, .bookmark, #find-us-link {
  position: relative;
}

/* Banner css start */

.banner-text, .bookmark-text {
  position: absolute;
  /*center text vertically*/
  top: 50%;
  transform: translateY(-50%);
  /*center text horizontally*/
  width: 100%;
  text-align: center;
  color: #FFF;
}

.banner-text {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Caveat', cursive;
}

.banner-img {
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
}

/* Banner css end */

.food-menu, .contact-form, .footer-content {
  margin-top: 70px;
  margin-bottom: 60px;
}

.item {
  margin-bottom: 40px;
}

.box1, .box2 {
  margin-right: 30px;
  margin-left: 30px;
}

.title, .price {
  font-weight: 500;
  color: #222222;
  /* color: #333; */
}

.subtitle {
  font-size: 14px;
  color: darkgrey;
  font-style: italic;
}

.btn-danger {
  width: 180px;
  background-color: #f34949;
  margin-right: 44px;
  margin-bottom: 40px;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.name, .email, .navbar .container {
  padding-right: 60px;
  padding-left: 60px;
}

.message, .footer-content {
  padding-left: 44px;
  padding-right: 44px;
}

.message {
  margin-top: 20px;
  margin-bottom: 20px;
}

#map {
  width: 100%;
  height: 400px;
}

.map-text {
  position: absolute;
  /*center vertically*/
  top: 0%;
  /*center horizontally*/
  width: 100%;
  color: #FFF;
}

#footer {
  background-color: #3B3B3B;
  color: #FFF;
  line-height: 1.7;
  font-weight: 500;
}

.address {
  color: lightgray;
}

#find-us-link {
  background-color: #3B3B3B;
}

.footer-logo .navbar-brand>img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

#name, #email, #message {
  background-color: #DFE0DA;
}

@media (max-width: 992px) {
  .banner-text {
    font-size: 30px;
  }
  .banner-img {
    height: 300px;
  }
  .navbar .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-danger {
    width: inherit;
  }
  .footer-logo {
    padding: 0;
  }

  .message {
    margin-top: 0;
  }
}
